<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="images/favicon.ico" type="image/ico" />

    <title>Log</title>

  
    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
  </head>

  <body class="" style="color:white;font-size: 30px;">
    <script>
      function report (filename, currentCategory) {

    const person = prompt("Enter the actual category");

if (person == null || person == "") { // || person !== "infiltration" || person !== "blast" || person !== "normal" || person !== "war") {
  alert("Invalid category");
} else {
  fetch('http://localhost:3000/modify', {
  method: 'post',
  headers: {
    'Accept': 'application/json, text/plain, */*',
    'Content-Type': 'application/json'
  },
  body: JSON.stringify({'file': filename, 'currentCategory':currentCategory, 'newCategory': person})
}).then(res => {console.log(res);
  alert('Modification accepted');
  });
}  
      }
    </script>
    <div class="container">
      <div class="">
          <table class="table-dark" style="width:100%;">
              <tr>
                  <td><b>No.</b></td>
                  <td><b>Threat level</b></td>
                  <td><b>Accuracy</b></td>
                  <td><b>Timestamp</b></td>
                  <td><b>View</b></td>
                  <td><b>Report</b></td>
              </tr>
              <% files1.forEach(function(file, index) { %>
                <tr>
                        <td><%= index %></td>
                        <td><%= file.threat_level %></td>
                        <td><%= file.accuracy %></td>
                        <td><%= file.time %></td>
                        <td><a href="/threat/<%= file.threat_level%>/<%= file.filename %>"><%= file.filename %></td>
                        <td><button onClick='javascript:report("<%= file.filename %>","<%= file.threat_level %>")'>Report</button</td>
                    </tr>
              <% }); %>
          </table>
          </div>
    </div>
        <!-- jQuery -->
        <script src="../vendors/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- FastClick -->
        <script src="../vendors/fastclick/lib/fastclick.js"></script>
        <!-- NProgress -->
        <script src="../vendors/nprogress/nprogress.js"></script>
        
        <!-- Custom Theme Scripts -->
        <script src="../build/js/custom.min.js"></script>
    </body>
    </html>