<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="images/favicon.ico" type="image/ico" />

    <title>Log</title>

    <!-- Bootstrap -->
   
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
          <table class="table-hover">
              <tr>
                  <td>No.</td>
                  <td>Threat level</td>
                  <td>Accuracy</td>
                  <td>Timestamp</td>
                  <td>View</td>
              </tr>
              <% files1.forEach(function(file, index) { %>
                <tr>
                        <td><%= index %></td>
                        <td><%= file.threat_level %></td>
                        <td><%= file.accuracy %></td>
                        <td><%= file.time %></td>
                        <td><a href="/threat/<%= file.threat_level%>/<%= file.filename %>"><%= file.filename %></td>
                    </tr>
              <% }); %>
          </table>
          </div>
    </div>
    </body>